name: Workflow Demo

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Create a text file
      run: echo "Hello, world!" > hello.txt

    - name: Archive text file
      uses: actions/upload-artifact@v4
      with:
        name: hello-artifact
        path: hello.txt

  download:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Download hello-artifact
      uses: actions/download-artifact@v4
      with:
        name: hello-artifact

    - name: Move hello-artifact
      run: |
        mkdir artifacts
        mv hello.txt artifacts
        cat ./artifacts/hello.txt
